div{
    height: 100px;
    width: 100px;
    background-color: brown;
    color: aqua;
    border: 2px solid black;    
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}